!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %title
      Image shelf
  %body
    %h1
      Image shelf
    - @imagelistarr.each do |item|
      %p
        %img{src: "/thumb/" + item["hash"]}
        %br
        = item["hash"]
