!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %title
      Image shelf
    %link{rel: "stylesheet", href: "/css/base.css"}
  %body
    %h1
      Image shelf
    #ThumbnailContainer
      - @imagelistarr.each do |item|
        %p.imgthumbnail
          %a{href: "/detail/" + item["hash"]}
            %img{src: "/thumb/" + item["hash"]}
          %br
          = item["hash"]
